apiVersion: 1

datasources:
  # Existing - Prometheus (keep as default)
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false
    jsonData:
      timeInterval: 15s

  # New - Trino (PostgreSQL protocol for Delta Lake)
  - name: Trino
    type: postgres
    access: proxy
    url: trino:8080
    user: trino
    database: delta
    isDefault: false
    editable: false
    jsonData:
      sslmode: disable
      postgresVersion: 1500
      timescaledb: false

  # New - Loki (log aggregation)
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    isDefault: false
    editable: false
    jsonData:
      maxLines: 1000

  # New - Tempo (distributed tracing)
  - name: Tempo
    type: tempo
    access: proxy
    url: http://tempo:3200
    isDefault: false
    editable: false
    jsonData:
      tracesToLogsV2:
        datasourceUid: loki
        filterByTraceID: true
        filterBySpanID: true
      tracesToMetrics:
        datasourceUid: prometheus
      nodeGraph:
        enabled: true
      serviceMap:
        datasourceUid: prometheus
