apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: api-keys-sync
  namespace: default
  labels:
    app: rideshare-platform
    component: external-secrets
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: localstack-secrets
    kind: SecretStore
  target:
    name: api-keys
    creationPolicy: Owner
  data:
    - secretKey: API_KEY
      remoteRef:
        key: rideshare/api-key
        property: API_KEY
