apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: airflow-postgres-data
  labels:
    app: airflow-postgres
spec:
  storageClassName: standard
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
