apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-metastore-data
  labels:
    app: postgres-metastore
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: standard
  resources:
    requests:
      storage: 5Gi
