apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: superset-postgres-data
  labels:
    app: superset-postgres
spec:
  storageClassName: standard
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
