apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: rideshare-storage
  annotations:
    storageclass.kubernetes.io/is-default-class: "true"
  labels:
    app: rideshare-platform
provisioner: ebs.csi.aws.com
parameters:
  type: gp3
  encrypted: "true"
reclaimPolicy: Delete
volumeBindingMode: WaitForFirstConsumer
allowVolumeExpansion: true
